body{
background-color: hsl(33, 78%, 91%)

}
.container{
background-color :hsl(295, 100%, 31%);
padding: 13px;
border-radius: 20px;

}
.logo{
color: hsl(0, 100%, 99%);
font-size: 40px;
text-align: start;
font-family: 'Caveat Brush', cursive;
font-family: 'Hedvig Letters Serif', serif;
font-family: 'Kanit', sans-serif;
font-weight: bold;
margin: 0px 0px 0px 100px;

}
.nav{
    text-align: end;
    max-height: 120px;

}
a{
color: rgb(225, 225, 225);
text-decoration: none;
margin: 0px 100px 0px;
font-size: 20px;
font-family: 'Hedvig Letters Serif', serif;
font-family: 'Kanit', sans-serif;
font-weight: bold;

}
a:hover{
    transition:0.5s ;
    text-decoration: underline 2px;
    color: #fad7a3;

}

.caixa1{
padding-left: 400px;
display: block;

}
section{
    display: flex;
    background-color:#91009d;
    border-radius: 15px;
    margin: 70px ; 
    
    

}
.formulario{
    display: flex;
    text-align: center;
    color: white;
    margin: 30px;
    font-family: 'Hedvig Letters Serif', serif;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    flex-direction: column;
    
    

}
input{
    margin: 10px;
    font-size:20px;
    font-family: 'Kanit', sans-serif;
    border-radius: 13px;
    border: 3px;
}

main{
    display: flex;
    align-items: center;
}

.button{
    margin: 20px;
    padding: 10px;
    background-color: #fad7a3;
    border:#fad7a3 ;
    font-size: 18px;
    border-radius: 25px;
    font-family: 'Kanit', sans-serif;
    

}

.caixa1-sobre-nos{
    display: flex;
    background-color:#91009d;
    margin: 30px;
    align-items: center;
}
.caixa2-sobre-nos{
    display: flex;
    background-color:#91009d;
    margin: 30px;
    align-items: center;
}